<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scau.mapper.DietRecordsMapper">
    <update id="updateById">
        update diet_records 
        <set>
            <if test="mealTime!=null and mealTime!=''">mealTime=#{mealTime},</if>
            <if test="foodName!=null and foodName!=''">food_name=#{foodName},</if>
            <if test="amount!=null">amount=#{amount},</if>
            <if test="protein!=null">protein=#{protein},</if>
            <if test="carbs!=null">carbs=#{carbs},</if>
            <if test="fat!=null">fat=#{fat},</if>
            <if test="note!=null and note!=''">note=#{note}</if>
        </set>
        <where>
            diet_id=#{id} and user_id=#{userId}
        </where>
    </update>

    <select id="selectList" resultType="com.scau.entity.healthData.pojo.DietRecords">
        select * from diet_records
        <where>
            user_id=#{userId}
            <if test="keyword!=null and keyword!=''">and note like concat('%',#{keyword},'%') </if>
        </where>
        order by created_at limit #{startIndex},#{limit}
    </select>
</mapper>
