<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.DietRecordsMapper">

    <resultMap id="BaseResultMap" type="generator.domain.DietRecords">
            <id property="diet_id" column="diet_id" jdbcType="INTEGER"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="food_name" column="food_name" jdbcType="VARCHAR"/>
            <result property="meal_type" column="meal_type" jdbcType="OTHER"/>
            <result property="quantity" column="quantity" jdbcType="DECIMAL"/>
            <result property="calories" column="calories" jdbcType="DECIMAL"/>
            <result property="record_date" column="record_date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        diet_id,user_id,food_name,
        meal_type,quantity,calories,
        record_date
    </sql>
</mapper>
