<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.HealthGoalsMapper">

    <resultMap id="BaseResultMap" type="generator.domain.HealthGoals">
            <id property="goal_id" column="goal_id" jdbcType="INTEGER"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="goal_type" column="goal_type" jdbcType="OTHER"/>
            <result property="target_value" column="target_value" jdbcType="DECIMAL"/>
            <result property="start_date" column="start_date" jdbcType="DATE"/>
            <result property="end_date" column="end_date" jdbcType="DATE"/>
            <result property="current_progress" column="current_progress" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        goal_id,user_id,goal_type,
        target_value,start_date,end_date,
        current_progress,status
    </sql>
</mapper>
