<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.HealthRemindersMapper">

    <resultMap id="BaseResultMap" type="generator.domain.HealthReminders">
            <id property="reminder_id" column="reminder_id" jdbcType="INTEGER"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="reminder_type" column="reminder_type" jdbcType="OTHER"/>
            <result property="reminder_content" column="reminder_content" jdbcType="VARCHAR"/>
            <result property="trigger_time" column="trigger_time" jdbcType="TIMESTAMP"/>
            <result property="is_completed" column="is_completed" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        reminder_id,user_id,reminder_type,
        reminder_content,trigger_time,is_completed
    </sql>
</mapper>
