<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scau.mapper.VitalSignsMapper">
    <update id="updateById">
        UPDATE vital_signs 
        <set>
            <if test="height!=null">height=#{height},</if>
            <if test="weight!=null">weight=#{weight},</if>
            <if test="bloodPressure!=null">blood_pressure=#{bloodPressure},</if>
            <if test="bloodSugar!=null">blood_sugar=#{bloodSugar},</if>
            <if test="bloodLipids!=null">blood_lipids=#{bloodLipids},</if>
            <if test="note!=null and note!=''">note=#{note}</if>
        </set>
        <where>
            record_id=#{id} and user_id=#{userId}
        </where>

    </update>


    <select id="selectList" resultType="com.scau.entity.healthData.pojo.VitalSigns" >
        select * from vital_signs
        <where>
            user_id=#{userId}
            <if test="keyword!=null and keyword!=''">and note like concat('%',#{keyword},'%') </if>
        </where>
        order by created_at limit #{startIndex},#{limit}
    </select>
</mapper>
